
<div class='lp'>
<h3>Login Here Please...</h3>
</div>

<div class='loginform'>
<form action="/auth/login" method="POST">
  <br>
  <br>
  <label for="auth-email">Email</label>
  <input id="auth-email" type="email" name="email">
</br>
</br>
  <label for="auth-password">Password</label>
  <input id="auth-password" type="password" name="password">
</br>
</br>
  <input type="submit" value="Log In">
</form>
</div>