<div class='sp'>
<h2>SignUp Here Please...</h2>
</div>

<div class="signup">
<form action="/auth/signup" method="POST">
<br>
<br>
  <label for="new-email">Email:</label>
  <input id="new-email" type="email" name="email">
</br>
</br>
  <label for="new-name">Name:</label>
  <input id="new-name" type="text" name="name">
</br>
</br>
  <label for="new-license">License:</label>
  <input id="new-license" type="text" name="license">
</br>
</br>
  <label for="new-password">Password:</label>
  <input id="new-password" type="password" name="password">
</br>
</br>


</br>
  <input type="submit" value="Sign up">
</form>
</div>