<form action="/auth/signup" method="POST" enctype="multipart/form-data">

  <label for="new-email">Email:</label>
  <input id="new-email" type="email" name="email">
</br>
</br>
  <label for="new-name">Name:</label>
  <input id="new-name" type="text" name="name">
</br>
</br>
  <label for="new-license">License:</label>
  <input id="new-license" type="text" name="license">
</br>
</br>
  <label for="new-password">Password:</label>
  <input id="new-password" type="password" name="password">
</br>
</br>

<label for="inputFile">Image</label>
<input type="file" name="inputFile">

</br>
  <input type="submit" value="Sign up">
</form>
