<h2>Homepage</h2>

<img src="assets/APARTMENT.jpg">

<hr>

<h4>Address: 4444 Town Street, Austin Texas 77009</h3>
<h4>Phone: 6666777123</h3>
<h4>Email: goldenApartment@gmail.com</h4>

<footer>
    @golden Apartment
</footer>
