<h2 class='greetingh'>Welcome to Golden Apartment</h2>

<img class='hppicture' src="assets/APARTMENT.jpg">

<div class='infop'>
<h4>Address: 4444 Town Street, Austin Texas 77009</h3>
<h4>Phone: 6666777123</h3>
<h4>Email: goldenApartment@gmail.com</h4>
</div>

<form action ='/review' method ="POST" >
    <label for="content">Review</label><br>
     <input type="content" name="content"><br>
     <input type="submit" value="Submit">
  </form>

<div class='footer'>
    @golden Apartment
</div>
