nav ul li {
  text-decoration: none;
  display: inline-block;
  margin-right: .3em;
}
nav{
  display:flex;
  flex-direction: row;
 justify-content: flex-end;
 padding-right: 30px;

}
h1 {
  color: chartreuse;
}

.profilepicture{
  width: 150px;
  height: 150px;
}

.hppicture{
  width: 600px;
  height: 350px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.footer{

  margin-left: 700px;
    margin-top: 80px;
}

.pinfo{
  display: flex;
  flex-direction: row;
  align-items: right;
 }

 .descR{
  display: flex;
  flex-direction: row;
  align-items: right;
 }
 .infop{
   margin-top:120px;
   margin-left: 100px;
 }

 .greetingh{
  text-align: center;
 }

 .pform{
  margin-top:10px;
  margin-left: 50px;
 }

 .profilepage{
  margin-left: 50px;
 }

 .loginform{
  text-align: center;
  background-color: blueviolet;
 }
 .lp{
  margin-top: 150px;
  text-align: center;
 }
 .signup{
  text-align: center;
   background-color: blueviolet;
 }

 .sp{
  margin-top: 150px;
  text-align: center;
 }

 #content{
  width: 600px;
  height: 100px;
 }

 body{
   background-color: chartreuse;
 }