<h1>List of Residents</h1>
<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li><a href="/profile/apartments/new">Create a new Resident</a></li>
  </ul>
</nav>
</header>
<main>
<h2>List of Residents</h2>
<ul>
  <% for (let i = 0; i < apartments.length; i++){%>
    <li><a href="/apartment/<%=apartments[i].id%>"><%=apartments[i].name %></a></li>
  <%}%>
</ul>